 body {
    background-color: hotpink;
 }

 #italy {
    display: grid;
    height: 300px;
    width: 500px;
    margin: 60px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr ;
 }

 #pizzared{
    background-color:crimson;
    grid-column: 3 / 4 ;
    grid-row: 1 / 1 ;

 }

 #pizzawhite{
    background-color:white;
    grid-column: 2 / 3 ;
    grid-row: 1 / 1 ;
      
 }

 #pizzagreen{
    background-color: green;
    grid-column: 1 / 2 ;
    grid-row: 1 / 1 ;
    
 }

 #germany {
    display: grid;
    height: 300px;
    width: 500px;
    margin: 60px;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
 }

 #oktoberblack{
    background-color:black;
    grid-column: 1 / 1 ;
    grid-row: 1 / 2 ;

 }

 #oktoberred{
    background-color:red;
    grid-column: 1 / 1 ;
    grid-row: 2 / 3 ;
    
 }

 #oktoberyellow{
    background-color: yellow;
    grid-column: 1 / 1 ;
    grid-row: 3 / 4 ;
    
 }

 #belgium {
    display: grid;
    height: 300px;
    width: 500px;
    margin: 60px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr ;
 }

 #belgianblack{
    background-color:black;
    grid-column: 1 / 2 ;
    grid-row: 1 / 1 ;

 }

 #belgianred{
    background-color:red;
    grid-column: 3 / 4 ;
    grid-row: 1 / 1 ;
    
 }

 #belgianyellow{
    background-color: yellow;
    grid-column: 2 / 3 ;
    grid-row: 1 / 1 ;
    
 }

 #japan{
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    height: 300px;
    width: 500px;
    margin: 60px;
   background-color: white;
 }

 /* #animewhite{
    background-color: white;
    grid-column: 1 / 4 ;
    grid-row: 1 / 4 ;

 } */

 #animered{
    background-color: red;
    grid-column: 32 / 69 ;
    grid-row: 21 / 81 ;
    border-radius: 50%;

 }

 #sweden{
    background-color:royalblue;
    display: grid;
    height: 300px;
    width: 500px;
    margin: 60px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
 }

 #ikeayellow{
    background-color: yellow;
    grid-column: 3 / 4 ;
    grid-row: 1 / 7 ;

 }

 #ikeayellow2{
    background-color: yellow;
    grid-column: 1 / 8 ;
    grid-row: 3 / 4 ;
 }

 #switzerland{
    background-color:red;
    display: grid;
    height: 500px;
    width: 500px;
    margin: 60px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;

 }

 #thecross{
    background-color: white;
    grid-column: 3 / 4 ;
    grid-row: 2 / 5 ;

 }

 #thesecondcross{
    background-color: white;
    grid-column: 2 / 5  ;
    grid-row: 3 / 4 ;

 }

 #thailand{
    display: grid;
    height: 300px;
    width: 500px;
    margin: 60px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;

 }

 #bluecurry{
   background-color:navy;
   grid-column: 1 / 1 ;
   grid-row: 3 / 5 ;


 }

 #redcurry{
   background-color:red;
   grid-column: 1 / 1 ;
   grid-row: 1 / 2 ;
   
 }

 #redcurry2{
   background-color:red;
   grid-column: 1 / 1 ;
   grid-row: 6 / 7 ;
   
 }

 #whitecurry{
   background-color:white;
   grid-column: 1 / 1 ;
   grid-row: 2 / 3 ;
   
 }

 #whitecurry2{
   background-color:white;
   grid-column: 1 / 1 ;
   grid-row: 5 / 6 ;
   
 }

 #uae{
    display: grid;
    height: 300px;
    width: 500px;
    margin: 60px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;

 }

 #desertred{
   background-color:red;
   grid-column: 1 / 2 ;
   grid-row: 1 / 4 ;
 }

 #desertgreen{
   background-color:green;
   grid-column: 2 / 5 ;
   grid-row: 1 / 2 ;
 }

 #desertwhite{
   background-color:white;
   grid-column: 2 / 5 ;
   grid-row: 2 / 3 ;
 }

 #desertblack{
   background-color:black;
   grid-column: 2 / 5 ;
   grid-row: 3 / 4 ;
 }

 #GREEK{
    display: grid;
    height: 300px;
    width: 500px;
    margin: 60px;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(9, 1fr) ;
    background-color: rgb(24, 95, 165);

 }

 #yogurtwhite1{
   background-color: white;
   grid-column: 6 / 16 ;
   grid-row: 2 / 3 ;
 }
 
 #yogurtwhite2{
   background-color: white;
   grid-column: 6 / 16 ;
   grid-row: 4 / 5 ;
 }

 #yogurtwhite3{
   background-color: white;
   grid-column: 1 / 16 ;
   grid-row: 6 / 7 ;
 }

 #yogurtwhite4{
   background-color: white;
   grid-column: 1 / 16 ;
   grid-row: 8 / 9 ;
 }

 #yogurtcross1{
   background-color: white;
   grid-column: 1/ 6 ;
   grid-row: 3 / 4 ;
 }

 #yogurtcross2{
   background-color: white;
   grid-column: 3 / 4 ;
   grid-row: 1 / 6 ;
 }

 #czechia{
    display: grid;
    height: 300px;
    width: 500px;
    margin: 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;


 }

 #rojo{
   background-color: red;
   grid-column: 1 / 3 ;
   grid-row: 2 / 3 ;

 }

 #blanco{
   background-color: white;
   grid-column: 1 / 3 ;
   grid-row: 1 / 2 ;

 }

 #TRINGLE{
   grid-column: 1 / 2;
   grid-row: 1 / 3;
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 150px 0 150px 200px;
   border-color: transparent transparent transparent #0150a3;

   

 }
 