body {
    background-size: 10px 10px;
    background-color: rgb(44, 44, 44);
    background-image:
      linear-gradient(to right, rgb(94, 94, 94) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(94, 94, 94) 1px, transparent 1px);
  }


  #Title{
    color: white;
    font-size: 40px;
    
  }
  #StartingText{
    margin-left: 145px;
    margin-top: 125px;
    font-family:'Lucida Sans';
    margin-bottom: 30px;


  }

  #Subtitle{
    color: white;
    
  }

  #epicline{
    display: inline-block;
    height: 45px;
    width: 4000px;
    background-color:white;
    opacity: 0.7;
  }